

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.game{
  display: flex;
  flex-direction: column;
  
}
.board{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  height: 350px;
  margin: 20px auto;
}

.box{
  height: 110px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: #fff;
  cursor: pointer;
}